* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}


nav {
  width: 100%;
  background-color: #222;
  padding: 10px 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  color: #f9f9f9;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: red;
}


main {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}


.comision-directiva {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-top: 20px;
  max-width: 50%;
  margin: auto;
}

.comision-directiva div {
  padding: 10px;
  background: #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}


.comision-directiva div:nth-child(odd) {
  font-weight: bold;
  background: #bbb;
}


footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 15px;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: red;
}


form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #0e0d0d;
  color: white;
  border-radius: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px }