// variables para el form //
$color-primary: #000000;
$color-secondary: #343a40;
$color-light: #e9edf1;
$color-text: #212529;
$color-input-border: lighten($color-secondary, 20%);
$radius: 0.5rem;
$padding-form: 2rem;
$shadow-form: 0 4px 12px rgba(0, 0, 0, 0.1);
